/*! gitner extra styles  */


    /* .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } */

div:empty { display: none }

.w-nav-menu {
  margin-top: 20px;
}

/* lightgallery popup */

#dynamic {
  background-color: #fff;
}

/* mobile logo breakpoints */

@media screen and (max-width: 428px) {

  .bop-logo {
      margin-left: 45px;
  }

    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }


  @media screen and (max-width: 375px) {

  .bop-logo {
        margin-left: 15px;
  }


  @media screen and (max-width: 320px) {

  .bop-logo {
        margin-left: -10px;
  }




.link {
  font-family: 'Source Sans Pro', sans-serif;
  color: #96918f;
  font-weight: 400;
}

.link:hover {
  color: #000;
}




/* LINKS */

.footer-link a {
  font-family: Roboto, sans-serif;
  color: #919191;
  font-size: 20px;
  line-height: 34px;
}

.footer-link a :visited {
  font-family: Roboto, sans-serif;
  color: #919191;
  font-size: 20px;
  line-height: 34px;
}

.footer-link a :hover {
  font-family: Roboto, sans-serif;
  color: #919191;
  font-size: 20px;
  line-height: 34px;
}


.lg-outer #lg-share {
display:none !important;
}

.lg-outer #lg-zoom-in {
display:none !important;
}

.lg-outer #lg-zoom-out {
display:none !important;
}

.lg-outer #lg-actual-size {
display:none !important;
}

/*
* === CSS STYLES SPECIFIC TO WYSIWYG FORMAT DROPDOWN ===
*/

/*dropcap*/
.dropcap {
  float: left;
  font-family: source-sans-pro, sans-serif;
  font-size: 3.388em;
  line-height: .75em;
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 1px;
}


.content-block {
    border:1px solid #eee;
    padding:10px;
    background:#ccc;
    float:left;
    margin-bottom:1.75em;
    text-align:center;
}

.content-block:after {
    clear:both;
}


/*--------------------------------------------------------------
## Lightgallery
--------------------------------------------------------------*/



.hide {
  display: none; }

.lg-outer .lg-item .lg-img-wrap {
  padding: 48px 80px; }

.lg-outer .lg-sub-html {
  font-size: 14.4px;
  font-size: 0.9rem; }
